* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("mafia.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: whitesmoke;
  padding-top: 110px;
}

p {
  padding-top: 35px;
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.container {
  position: relative;
}

h2 {
  font-size: 35px;
  color: whitesmoke;
  letter-spacing: 4px;
  margin-left: 150px;
  padding-top: 40px;
  cursor: pointer;
  display: inline-block;
}

h2:hover {
  color: rgb(161, 161, 12);
}

button {
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(133, 133, 12);
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  margin-top: 35px;
  left: 650px;
  letter-spacing: 3px;
  transition: 0.3s;
}

button:hover {
  color: rgb(133, 133, 12);
  background-color: whitesmoke;
  border: 0.5px rgb(133, 133, 12) solid;
}

::selection {
  background-color: rgb(133, 133, 12);
}
